* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 14px;
}

main {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

ul {
  list-style-type: none;
}

.custom-class {
  max-width: 230px;
  margin: auto;
}

/* PRETTIFY */
.custom-dropdown {
  position: relative;
  width: 119px;
  color: #333333;
  border: 1px solid #00000046;
  color: black;
  font-size: 1rem;
  padding: 8px 10px;
  cursor: pointer;
  opacity: .8;
  border-radius: 3%;
}
.custom-dropdown::after {
  color: #333333;
  font-size: 0.7rem;
  content: "▼";
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -0.5em;
  pointer-events: none;
}

.custom-dropdown__list {
  position: absolute;
  margin-top: 10px;
  left: 0px;
  right: 0px;
  top: 100%;
  max-height: 199px;
  overflow: hidden auto;
  display: none;
  opacity: 0;
  z-index: 200;
  background-color: grey;
  color: white;
  font-size: inherit;
  outline: 0;
}
.custom-dropdown__list--expanded {
  display: block;
  opacity: 1;
  position: absolute;
  margin-top: 3px;
  max-height: 199px;
  width: 230px;
  overflow: hidden auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  border: 1px solid #00000024;
  border-radius: 2%;
}

.custom-dropdown__list--expanded::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.spacer {
  background-color: #fff;
  z-index: 900;
  height: 5px;
}

.fixed-search {
  position: fixed;
  width: 195px;
  height: 35px;
  margin: auto;
  color: #333;
  border: 1px solid #00000024;
  font-size: 1rem;
  box-shadow: 0 -1px #f9f2f200 inset;
  background-image: url(../assets/searchicon.png);
  background-position: 10px center;
  background-repeat: no-repeat;
  padding-left: 35px;
  outline: 0;
  background-color: #ffffff;
  z-index: 1000;
  display: none;
}

.display-fixed-search.fixed-search {
  display: block;
}

.custom-dropdown-list__option {
  padding: 3px 0;
  cursor: pointer;
  margin: 5px auto;
  width: 204px;
  min-height: 18px;
  font-size: 1rem;
}
.custom-dropdown-list__option:first-child {
  margin-top: 35px;
}
.custom-dropdown-list__option:hover {
  background-color: #c4c0c238;
}
.custom-dropdown-list__option span {
  margin-right: 8px;
}
